* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: Arial;
    font-style: normal;
    color: #333333;
    line-height: 20px;
}

.container {
    margin: 0 19px;
}